/*Universal selector styles*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Element selector which shows the body colour*/
body {
    background-color: #d9dcd6;
}

/*class selector which shows the header style*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*The headers style */
h1 {
    display: inline-block;
    font-size: 48px;
}

/*The headers title different colour change*/
h1 .seo {
    color: #d9dcd6;
}

/*class selector which shows the header style of the right section*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*The headers navigation bar list type*/
.header nav ul {
    list-style-type: none;
}

/*The headers navigation bar display and margin position*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*The font size of the Paragraphs*/
p {
    font-size: 16px;
}

/*The background size, position background image url and styles of the sites cover image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Class selector that moves image position, this one makes image position itself to the left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Class selector makes image position itself to the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*class selector which gives the content style*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Class selector that gives the benefit section its style*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*The benefit-lead bottom margin size and colour*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/*h3 is the side bar this is the margin bottom and text position*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*the side bar images position and styles*/
img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*h3 side bar styles and positioning ends*/

/*Class selector that gives the search engine section its style*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*search engine image max height*/
img {
    max-height: 200px;
}

/*search engine section font size, h2 is the main body*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Class selector that gives the online-reputation section its style*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*online-reputation section font size*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*online-reputation image max height*/
img {
    max-height: 200px;
}

/*Class selector that gives the social media section its style*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Social media marketing image max height*/
img {
    max-height: 200px;
}

/*Social media marketing font size*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*class selector this is start of Footer style*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
/*The end of Footer style*/